<html>
<head>
<title>Pizza Palace</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>	
<center>	
<div class="welcome"> You want <%= crust_type %> crust on your pizza. 
<br>
<img alt="logo" src="/img/logo.gif" width="200" height="150" />
<br>
What toppings would you like on your pizza?
<br>
</div>	
<form method="post" action="toppings">
<input type="text" name="toppings">
<br>
<br>
<input type="submit">
</form>
<img alt="pizza" src="/img/pizza.jpg" width="400" height="400" />
</center>
</body>
</html>