<html>
<head>
<title>Pizza Palace</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<center>	
<div class="welcome">Welcome to the Pizza Palace.
<br>
<img alt="logo" src="/img/logo.gif" width="200" height="150" />
<br>
Can I get your first name for your order? </div>	
<form method="post" action="first_name">
<input type="text" name="first_name">
<br>
<br>
<input type="submit">
</form>
<img alt="pizza" src="/img/pizza.jpg" width="400" height="400" />
</center>
</body>
</html>
